.nav {
    position: fixed;
    top: 0;
    padding: 20px;
    width: 100%;
    height: 30px;
    z-index: 1;
    max-width: 100%;
    justify-items: center;
    /*background-color: #111;*/
    /*color: #fff;*/

    /* Animations */
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav__contents {
    position: relative;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;
}

.nav__logos {
    margin-right: 40%;
    margin-left: -3%;
}

.nav__logo {
    position: fixed;
    left: 5px;
    margin-left: 3%;
    height: fit-content;
    background: url("../images/Oval.png")
                center no-repeat;
    background-size: cover;
}

.nav__tabs {
    display: flex;
    /*cursor: pointer;*/
    /*text-indent: 3rem;*/
    color: rgb(240, 242, 240);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    padding-top: 20px;
    padding-bottom: -1rem;
}

.nav__tabs > p {
    margin-left: 10px;
    margin-right: 10px;
}

/* HOME */
#nav__homeId {
    display: flex;
    margin-right: 50px;
    margin-left: 50px;
}

#nav__homeId:hover {
    cursor: pointer;
    border-bottom: 3px solid #fff;
}

#nav__homeId:active {
    border-bottom: 3px solid #fff;
}

.nav__home1 {
    font-weight: bold;
    padding-right: 5px;
}

.nav__home {
    padding-bottom: 20px;
}

/* DESTINATION */
#nav__desId {
    display: flex;
    margin-right: 50px;
}

#nav__desId:hover {
    cursor: pointer;
    border-bottom: 3px solid #fff;
}

.nav__des1 {
    font-weight: bold;
    padding-right: 5px;
}

.nav__des {
    padding-bottom: 20px;
}

/* CREW */
#nav__crewId {
    display: flex;
    margin-right: 50px;
}

#nav__crewId:hover {
    cursor: pointer;
    border-bottom: 3px solid #fff;
}

.nav__crew1 {
    font-weight: bold;
    padding-right: 5px;
}

.nav__crew {
    padding-bottom: 20px;
}

/* TECHNOLOGY */
#nav__techId {
    display: flex;
    margin-right: 50px;
}

#nav__techId:hover {
    cursor: pointer;
    border-bottom: 3px solid #fff;
}

.nav__tech1 {
    font-weight: bold;
    padding-right: 5px;
}

.nav__tech {
    padding-bottom: 20px;
}